/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;
@title-text-colour: #1540B2;
@rise-blue: #1ecfcc;
@rise-grey: #858688;
@icon-font-path: '../../bower_components/bootstrap/fonts/';
@first-row-color: rgb(232, 81, 93);
@second-row-color: rgb(63, 62, 105);
@demo-height: 700px;

.fixed-table-container{
  border: 0px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.pure-table td{
    background-color: #dddddd;
}

.carousel{
  &.main{
  }
}

.twitterfeed {
    &.background{
        background-image: url("http://localhost:3000/assets/images/128-59.jpg");
        background-repeat: repeat;
        height: @demo-height;
        padding-top:10px;
    }
    &.tweetbox{
        text-align:center;
        padding-top: 10px;
    }
    &.welcome{
        width:520px;
        height: 40px;
        background-color: white;
        text-color: blue;
        text-align: center;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
        padding-top:10px;
        font-weight: bold;
    }
}
.lunchfeed {
    &.itembox{
        background-color:antiqueWhite; background:rgba(250,235,215,0.48);
        border-radius: 5px;
        border-left: thick double #ffffff;
        padding-bottom:20px;
    }
    &.image{
        width: 200px;
        height: 200px;
        display: block;
        margin: 0 auto;
    }
    &.table{
        width: 100%;
        background-color: antiquewhite;
    }
    &.background{
        background-image: url("http://localhost:3000/assets/images/restaurant_icons.png");
        background-repeat: repeat;
        height: @demo-height;
    }
    &.title{
        color: @title-text-colour;
        text-align: center;
        font-size: 60px;
        font-style: bold;
        font-family: tangerine, sans-serif;
    }
    &.info{
        font-size: 20px;
        line-height: 50px; /*set line height back to normal*/
    }
    &.menuitem{
        color: @title-text-colour;
        text-align: center;
        font-size: 40px;
        font-style: bold;
        font-family: tangerine, sans-serif;
    }
}

.barchart {
    &.barcontainer {
        background-color:white;
        padding-left:80px;
        padding-right:80px;
        border-radius: 10px;
        padding-bottom: 90px;
        margin-top:15px;
    }
    &.background{
        background-image: url("http://localhost:3000/assets/images/128-136.jpg");
        background-repeat: repeat;
        height: @demo-height;
        padding-top:10px;
    }
}

.leaderboard {
    &.title {
        width:100%;
        height: 70px;
        background-color: white;
        text-color: blue;
        text-align: center;
        display: block;
        margin: 0 auto;
        font-size:26px;
        border-radius: 10px;
        padding-top:18px;
        font-weight: bold;
    }
    &.background{
        background-image: url("http://localhost:3000/assets/images/128-191.jpg");
        background-repeat: repeat;
        height: @demo-height;
        padding-top:10px;
    }
    &.container{
        background-color: white;
    }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
